@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<div class="w3-container w3-padding-64" id="main">
    <h2>@ViewData["Title"]</h2>
    <h4>Enter your email.</h4>
    <hr />
    <div class="w3-row">
        <div class="w3-half">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="w3-input" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <br />
                <button type="submit" class="w3-button w3-block w3-round w3-dark-grey">Submit</button>
            </form>
        </div>
    </div>
</div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
