@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header class="w3-content w3-container w3-padding-64">
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>