@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<div class="w3-content w3-container w3-padding-64">
    <div class="w3-half">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div class="form-group">
                <div asp-validation-summary="All" class="text-danger"></div>
                <label asp-for="Input.Title"></label>
                <div class="custom-select" style="width:100%;">
                    @Html.DropDownListFor(m => m.Input.Title, Model.Input.Titles, "Select Title", new { @class = "w3-input", required = "" })
                </div>
                <span asp-validation-for="Input.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Forename"></label>
                <input asp-for="Input.Forename" class="w3-input" />
                <span asp-validation-for="Input.Forename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Surname"></label>
                <input asp-for="Input.Surname" class="w3-input" />
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="w3-input" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="w3-input" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="w3-input" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <script src='https://www.google.com/recaptcha/api.js?onload=renderRecaptcha&render=explicit"'></script>
            <p><div id="ReCaptchContainer"></div></p>
            <input id="recaptchaResponse" asp-for="Input.RecaptchaResponse" type="text" hidden />
            <p>
                <span>By regitering you are confirming you accept the <a href="/Home/TermsAndConditions" target="_blank">Terms and Conditions</a> and <a href="/Home/Privacy" target="_blank">Privacy Policy</a>.</span>
            </p>
            <p>
                <button type="submit" class="w3-button w3-round w3-block w3-dark-grey" onclick="openModal('spin')">Register</button>
            </p>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://dmm8i98ipy9lm.cloudfront.net/recaptchCode.min.js?Authorization"></script>
    <partial name="_ValidationScriptsPartial" />
}
