@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="https://s3.amazonaws.com/sbt-solutions.co.uk/hammer/hammer.min.js?Authorization"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/sbt-solutions.co.uk/fancybox/jquery.fancybox.js?Authorization"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/sbt-solutions.co.uk/xzoom/xzoom.min.js?Authorization"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/sbt-solutions.co.uk/xzoom/setup.js?Authorization"></script>
<div class="w3-container w3-padding-64" id="main">
    <h2>Manage your products</h2>
    <div class="w3-container">
        <hr />
        <div class="w3-section">
            @RenderBody()
        </div>
    </div>
</div>
<partial name="_messages" model="Model" />
@section Scripts {
    @RenderSection("Scripts", required: false)
}
