        <!-- Modal that pops up when you click on "+" -->
        <div id="idPopup" class="w3-modal" style="z-index:4">
            <div class="w3-modal-content w3-animate-zoom">
                <div class="w3-container w3-padding w3-card-4">
                    <span onclick="document.getElementById('idPopup').style.display='none'"
                          class="w3-button w3-right"><i class="fas fa-times"></i></span>
                    <h2 id="addHeader"></h2>
                    <div id="message" style="display: none">
                        <span onclick="document.getElementById('message').style.display='none'"
                              class="w3-button w3-right"><i class="fas fa-times"></i></span>
                    </div>
                    <hr />
                    <div id="popContainerId" class="w3-container">
                        <div id="currentValue" class="w3-half w3-row-padding">
                            <h4 id="listHeader"></h4>
                        </div>
                        <div class="w3-half w3-row-padding">
                            <h4>Add New</h4>
                            <input id="newValue" class="w3-input w3-margin-bottom" />
                            <div id="submitValue" class="w3-button w3-round w3-dark-grey w3-block"><i class="fas fa-save w3-margin-right"></i>Save</div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <script src="https://dmm8i98ipy9lm.cloudfront.net/addItem.min.js?Authorization"></script>