<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - Gustaf's Studio & Gallery</title>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://s3.amazonaws.com/sbt-solutions.co.uk/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" media="screen" href="https://s3-us-west-2.amazonaws.com/gustafsgallery.co.uk/styleSheetTemplate.css?Authorization" />
    <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/gustafsgallery.co.uk/favicon.ico" />
</head>
<body id="home">

    <partial name="_Navbar" />

    @*<partial name="_CookieConsentPartial" />*@
    <div class="w3-content w3-container w3-padding-64">
        @RenderBody()
    </div>
    <footer>
        <div w3-include-html="https://s3-us-west-2.amazonaws.com/gustafsgallery.co.uk/footer.html?Authorization"></div>
    </footer>

    <!--<environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>-->

    @RenderSection("Scripts", required: false)
    <!-- include navbar/footer -->
    <script src="https://s3-us-west-2.amazonaws.com/gustafsgallery.co.uk/generalJScripts.js?Authorization"></script>
    <script>
            includeHTML();
    </script>
</body>
</html>
