<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128557820-1"></script>
    <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-128557820-1");</script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="Generator" content="Gustaf's Studio & Gallery (https://gustafsgallery.co.uk)">
    <meta name="robots" content="index, follow" />
    <title>@ViewData["Title"] - Gustaf's Studio & Gallery</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/gustafsgallery.co.uk/generalJScripts.min.js?Authorization"></script>
    <script src="https://s3-us-west-2.amazonaws.com/gustafsgallery.co.uk/imageSlider.js?Authorization"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script src="https://js.stripe.com/v3/"></script>

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://s3.amazonaws.com/sbt-solutions.co.uk/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" media="screen" href="https://s3-us-west-2.amazonaws.com/gustafsgallery.co.uk/styleSheetTemplate.min.css?Authorization" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link type="text/css" rel="stylesheet" media="all" href="https://s3.amazonaws.com/sbt-solutions.co.uk/fancybox/jquery.fancybox.css?Authorization" />
    <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/sbt-solutions.co.uk/xzoom/xzoom.css?Authorization" media="all" />
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/gustafsgallery.co.uk/imageSlider.css?Authorization" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/gustafsgallery.co.uk/favicon.ico" />
</head>
    <body id="home">
        <partial name="_Navbar" />
        <div>
            <div id="sidenav" class="w3-hide">
                <partial name="_Sidenav" />
            </div>
            <div id="content" class="w3-show">
                @RenderBody()
            </div>
        </div>
        <footer id="footer-container" class="w3-show">
            <div w3-include-html="https://s3-us-west-2.amazonaws.com/gustafsgallery.co.uk/footer.html?Authorization"></div>
        </footer>
        @RenderSection("Scripts", required: false)
        <div class="w3-modal w3-center" id="spin"><i class="fas fa-spinner fa-spin fa-3x fa-fw gustaf"></i></div>
        <div w3-include-html="https://s3-us-west-2.amazonaws.com/gustafsgallery.co.uk/image-modal.html?Authorization"></div>
        <!-- cookie message popup -->
        <div class="w3-bottom" id="cookie-message">
            <div w3-include-html="https://s3-us-west-2.amazonaws.com/gustafsgallery.co.uk/CookieMessage.html?Authorization"></div>
        </div>
        <script>includeHTML();</script>
        <!-- handle cookie message -->
        <script>
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                var cookie = handleCookieMessage();

                if (cookie != null) {
                    document.cookie = cookie;
                }

        </script>
    </body>
</html>
