@using Microsoft.AspNetCore.Identity
@using GustafsGalleryStore.Areas.Identity.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<style>
    /* Dropdown Button */
    .dropbtn {
        background-color: rgb(110, 16, 68);
        color: white;
        padding: 16px;
        border: none;
    }
</style>

@{var user = await UserManager.GetUserAsync(User);}
<!--UserManager.GetUserName(User)-->
@if (SignInManager.IsSignedIn(User))
{
<form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="w3-right">
    <div class="w3-dropdown-hover w3-hide-small">
        <button class="dropbtn" type="submit">Hello&nbsp;@user.Forename!&nbsp;<i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-dark-grey">
            <button type="submit" class="w3-bar-item w3-button w3-padding-large">Not @user.Forename? Logout.</button>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="w3-bar-item w3-button w3-padding-large">Manage Account</a>
            <a href="javascript:void(0);" class="w3-bar-item w3-button w3-padding-large">Your Orders</a>
            <hr />
            <a href="javascript:void(0);" class="w3-bar-item w3-button w3-padding-large">Manage Orders</a>
            <a href="javascript:void(0);" class="w3-bar-item w3-button w3-padding-large">Manage Site</a>
        </div>
    </div>
</form>
}
else
{
    <div>
        @*<li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>*@
        <a asp-area="Identity" asp-page="/Account/Login" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right"><i class="fa fa-sign-in-alt"></i> Login</a>
    </div>
}