@using Microsoft.AspNetCore.Identity
@using GustafsGalleryStore.Areas.Identity.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<style>
    /* Dropdown Button */
    .dropbtn {
        background-color: rgb(110, 16, 68);
        color: white;
        padding: 16px;
        border: none;
    }
</style>

@{var user = await UserManager.GetUserAsync(User);
    var isStaff = await UserManager.IsInRoleAsync(user, "IsStaff");
}
<!--UserManager.GetUserName(User)-->
@isStaff
@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="w3-right">
        <div class="w3-dropdown-hover w3-hide-small">
            <button class="dropbtn" type="submit">Hello&nbsp;@user.Forename!&nbsp;<i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-dark-grey">
                <button type="submit" class="w3-bar-item w3-button w3-padding-large">Not @user.Forename? Logout.</button>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="w3-bar-item w3-button w3-padding-large"><i class="fas fa-user w3-margin-right"></i>Your Account</a>
                <a href="javascript:void(0);" class="w3-bar-item w3-button w3-padding-large"><i class="fas fa-shopping-bag w3-margin-right"></i>Your Orders</a>
                @if (await UserManager.IsInRoleAsync(user, "IsStaff"))
                {
                    <hr />
                    <a href="javascript:void(0);" class="w3-bar-item w3-button w3-padding-large"><i class="fas fa-shipping-fast w3-margin-right"></i>Manage Orders</a>
                    <a href="javascript:void(0);" class="w3-bar-item w3-button w3-padding-large"><i class="fas fa-sitemap w3-margin-right"></i>Manage Site</a>
                    <a href="javascript:void(0);" class="w3-bar-item w3-button w3-padding-large"><i class="fas fa-users-cog w3-margin-right"></i>Manage Staff</a>
                }
            </div>
        </div>
    </form>
}
else
{
    <div>
        @*<li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>*@
        <a asp-area="Identity" asp-page="/Account/Login" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right"><i class="fa fa-sign-in-alt"></i> Login</a>
    </div>
}