@{
    ViewData["Title"] = "Coming Soon";
}
<body style="background: url('https://farm2.staticflickr.com/1818/43879232551_226b6f120d_o.jpg') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
    <div style="height: 100px"></div>
    <div class="bg-img-1 w3-display-container w3-opacity-min" id="home">
        <div class="w3-display-middle" style="white-space:nowrap;">
            <span class="w3-center w3-padding-large animal-fayre-background w3-xlarge w3-wide w3-animate-opacity">
                <span>Coming Soon</span>
            </span>
        </div>
    </div>
    <div style="height: 100px"></div>
</body>
