@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<div class="bg-img-err w3-display-container w3-opacity-min" id="home">
    <div class="w3-display-middle" style="white-space:nowrap;">
        <span class="w3-center w3-padding-large animal-fayre-background w3-xlarge w3-wide w3-animate-opacity w3-block">
            <span>Oh No!<br>An Error occured, we're working hard to fix it.</span>
        </span>
    </div>
</div>