@{
    ViewData["Title"] = "Home";
    Layout = "/Views/Shared/_Layout.cshtml";
}
        <!-- code for embedded FB page -->
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.0';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

        <div class="header-spacer w3-hide-small w3-hide-medium" style="height: 60px" ></div>
        <div class="header-spacer w3-hide-small w3-hide-large" style="height: 50px" ></div>
        <div class="header-spacer w3-hide-large w3-hide-medium" style="height: 35px"></div>
        <!-- Slideshow container -->
        <div class="slideshow-container"id="home">
            
            <div class="ism-slider" data-play_type="loop" id="header-carousel">
                <ol>
                    <li>
                        <img src="https://s3.amazonaws.com/sbt-solutions.imagestore/GustafsGalleryStore_home-slider-1.jpg?Authorization" onerror="this.src='https://farm5.staticflickr.com/4705/40336899591_bdc86eddb2_o.png'">
                    </li>
                    <li>
                        <img src="https://s3.amazonaws.com/sbt-solutions.imagestore/GustafsGalleryStore_home-slider-2.jpg?Authorization" onerror="this.src='https://farm5.staticflickr.com/4705/40336899591_bdc86eddb2_o.png'">
                    </li>
                    <li>
                        <img src="https://s3.amazonaws.com/sbt-solutions.imagestore/GustafsGalleryStore_home-slider-3.jpg?Authorization" onerror="this.src='https://farm5.staticflickr.com/4705/40336899591_bdc86eddb2_o.png'">
                    </li>
                    <li>
                        <img src="https://s3.amazonaws.com/sbt-solutions.imagestore/GustafsGalleryStore_home-slider-4.jpg?Authorization" onerror="this.src='https://farm5.staticflickr.com/4705/40336899591_bdc86eddb2_o.png'">
                    </li>
                    <li>
                        <img src="https://s3.amazonaws.com/sbt-solutions.imagestore/GustafsGalleryStore_home-slider-5.jpg?Authorization" onerror="this.src='https://farm5.staticflickr.com/4705/40336899591_bdc86eddb2_o.png'">
                    </li>
                </ol>
            </div>            
            
        </div>        

        <!-- Container (About Section) -->
        <div class="w3-content w3-container w3-padding-64" id="about">
            <h3 class="w3-center"><b class="gustaf">Gustaf's Studio & Gallery</b></h3>
            <p class="w3-center"><em>From the heart of the Borders</em></p>
            <div class="w3-row-padding">
                <div class="w3-half">
                    <div w3-include-html="https://s3-us-west-2.amazonaws.com/gustafsgallery.co.uk/home-content-about.html?Authorization"></div>
                </div>
                <div class="w3-half">
                    <div class="fb-page" data-href="https://www.facebook.com/Gustafs-Studio-and-Gallery-226671854797896/" data-tabs="timeline" data-width="500" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Gustafs-Studio-and-Gallery-226671854797896/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Gustafs-Studio-and-Gallery-226671854797896/">Gustaf&#039;s Studio and Gallery</a></blockquote></div>
                </div>
            </div>
        </div>

        <div class="bg-img-1 w3-display-container w3-opacity-min" id="designers">
            <div class="w3-display-middle" style="white-space:nowrap;">
                <span class="w3-center w3-padding-large animal-fayre-background w3-xlarge w3-wide w3-animate-opacity">
                    <span>Designers</span>
                </span>
            </div>
        </div>

        <div class="w3-content w3-container w3-padding-64" >             
            <div class="w3-center w3-margin-top">
                <p>At <b class="gustaf">Gustaf's Studio & Gallery</b> we work with the best local designers to ensure we select only the finest quality pieces.</p>
                <p>You can meet some of our designers in store or find more information on their pages.</p>
                <br>
                <div class="w3-row">
                    <div class="w3-third w3-row-padding">
                        <div class="w3-card w3-container" style="min-height:460px">
                            <h3 class="animal-fayre-background">Animal Fayre Designs</h3><br>
                            <a href="/Home/AnimalFayreDesigns">
                                <img class="w3-circle w3-opacity w3-hover-opacity-off w3-hide-medium" src="https://farm5.staticflickr.com/4745/40292955842_473f588295_o.png" width="240" height="240" alt="GustafsStudio_logo" onerror="this.src='https://farm5.staticflickr.com/4705/40336899591_bdc86eddb2_o.png'">
                                <i class="fas fa-user-ninja w3-hide-large w3-hide-small" style="font-size: 180px"></i>
                            </a>
                            <p>Carol Anne Long</p>
                            <p>
                                <a class="animal-fayre-hover-a" href="http://www.instagram.com/animalfayredesigns/"><i class="fab fa-instagram w3-hover-opacity" style="font-size:24px;"></i></a>
                                <a class="animal-fayre-hover-a" href="https://www.etsy.com/shop/animalfayredesigns"><i class="fa fa-cart-plus w3-hover-opacity" style="font-size:24px;"></i></a>
                            </p>
                        </div>
                    </div>

                    <div class="w3-third w3-row-padding">
                        <div class="w3-card w3-container" style="min-height:460px">
                            <h3 class="jackalope-background">Jack Conkie Illustration</h3><br>
                            <a href="/Home/JackConkieIllustrations">
                                <img class="w3-circle w3-opacity w3-hover-opacity-of w3-hide-medium" src="https://img.etsystatic.com/iusa/d01bcf/58209284/iusa_75x75.58209284_1pcj.jpg?version=0" width="240" height="240" alt="GustafsStudio_logo" onerror="this.src='https://farm5.staticflickr.com/4705/40336899591_bdc86eddb2_o.png'">
                                <i class="fas fa-user-secret w3-hide-large w3-hide-small" style="font-size: 180px"></i>
                            </a>
                            <p>Jack Conkie</p>
                            <p>
                                <a class="jackalope-hover-a" href="https://www.instagram.com/jackalopeart/"><i class="fab fa-instagram w3-hover-opacity" style="font-size:24px;"></i></a>
                                <a class="jackalope-hover-a" href="https://www.etsy.com/uk/shop/RightVillainousCo"><i class="fa fa-cart-plus w3-hover-opacity" style="font-size:24px;"></i></a>
                            </p>
                        </div>
                    </div>
                    
                    <div class="w3-third w3-row-padding">
                        <div class="w3-card w3-container" style="min-height:460px">
                            <h3 class="silver-bough-background">Silver Bough Jewellery</h3><br>
                            <a href="/Home/SilverBoughJewellery">
                                <img class="w3-circle w3-opacity w3-hover-opacity-off w3-hide-medium" src="https://farm5.staticflickr.com/4610/40088936742_6471cfd099_o.jpg" width="240" height="240" alt="GustafsStudio_logo" onerror="this.src='https://farm5.staticflickr.com/4705/40336899591_bdc86eddb2_o.png'">
                                <i class="fas fa-user-astronaut w3-hide-large w3-hide-small" style="font-size: 180px"></i>
                            </a>
                            <p>Patrick Hoye</p>
                            <p>
                                <a class="silver-bough-hover-a" href="https://www.instagram.com/silverboughjewellery/"><i class="fab fa-instagram w3-hover-opacity" style="font-size:24px;"> </i></a>
                                <a class="silver-bough-hover-a" href="https://www.etsy.com/uk/shop/SilverBoughJewellery?ref=profile_shopname"><i class="fa fa-cart-plus w3-hover-opacity" style="font-size:24px;"> </i></a>
                            </p>
                        </div>
                    </div>  
                </div>
            </div>
        </div>

        <div class="bg-img-1 w3-display-container w3-opacity-min" id="products">
            <div class="w3-display-middle" style="white-space:nowrap;">
                <span class="w3-center w3-padding-large animal-fayre-background w3-xlarge w3-wide w3-animate-opacity">
                    <span>Products</span>
                </span>
            </div>
        </div>

        <div class="w3-content w3-container w3-padding-64">
            <div w3-include-html="https://s3-us-west-2.amazonaws.com/gustafsgallery.co.uk/home-content-product.html?Authorization"></div>
        </div>

        <div class="w3-row-padding">  
            <div class="w3-third">
                <div w3-include-html="https://s3-us-west-2.amazonaws.com/gustafsgallery.co.uk/home-content-designer1.html?Authorization"></div>
            </div>
            <div class="w3-third">
                <div w3-include-html="https://s3-us-west-2.amazonaws.com/gustafsgallery.co.uk/home-content-designer2.html?Authorization"></div>
            </div>
            <div class="w3-third">
                <div w3-include-html="https://s3-us-west-2.amazonaws.com/gustafsgallery.co.uk/home-content-designer3.html?Authorization"></div>
            </div>
        </div>  
        <br>
        <div></div>
        <div class="w3-row-padding">  
            <div class="w3-third">
                <div w3-include-html="https://s3-us-west-2.amazonaws.com/gustafsgallery.co.uk/home-content-designer4.html?Authorization"></div>
            </div>
            <div class="w3-third">
                <div w3-include-html="https://s3-us-west-2.amazonaws.com/gustafsgallery.co.uk/home-content-designer5.html?Authorization"></div>
            </div>
            <div class="w3-third">
                <div w3-include-html="https://s3-us-west-2.amazonaws.com/gustafsgallery.co.uk/home-content-designer6.html?Authorization"></div>
            </div>
        </div>  

        <br>