
<div class="w3-row w3-row-padding">
    <span class=""><a href="/ManageSite/Brand" class="w3-button w3-bar-item w3-light-grey" onclick="openModal('spin')">Brand</a></span>
    <span class=""><a href="/ManageSite/Colour" class="w3-button w3-bar-item w3-light-grey" onclick="openModal('spin')">Colour</a></span>
    <span class=""><a href="/ManageSite/Department" class="w3-button w3-bar-item w3-light-grey" onclick="openModal('spin')">Department</a></span>
    <span class=""><a href="/ManageSite/Size" class="w3-button w3-bar-item w3-light-grey" onclick="openModal('spin')">Size</a></span>
</div>
