@model GustafsGalleryStore.Models.ViewModels.DeliveryViewModel
@{
    ViewData["Title"] = "Delivery Methods";
}

<div>
    <div class="w3-bar w3-padding">
        <div asp-validation-summary="All" class="text-danger w3-bar-item"></div>
        <a href="/ManageSite/DeliveryType" class="w3-bar-item w3-button w3-light-grey w3-right"><i class="fas fa-plus fa-fw"></i></a>
    </div>
    <table id="deliveryTypes">
        <thead>
            <tr>
                <th>Provider</th>
                <th>Type</th>
                <th>Price</th>
                <th>Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var type in Model.DeliveryTypes)
            {
            <tr>
                <td class="w3-center">@type.DeliveryCompany.Company</td>
                <td class="w3-center">@type.Type</td>
                <td class="w3-center">@type.Price</td>
                <td class="w3-center">@type.Time</td>
                <td class="w3-center w3-hide-small" style="width: 100px">
                    <a class="w3-bar-item w3-button w3-round w3-light-grey" href="/" onclick="openModal('spin')"><i class="fas fa-edit w3-margin-right"></i>Edit</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<script>$("#deliveryTypes").DataTable();</script>