@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
        <div class="w3-content w3-container w3-padding-64" id="main">
            <div class="w3-container">
                <hr />
                <div class="w3-section">
                    @RenderBody()
                </div>
            </div>
        </div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
