@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="https://dmm8i98ipy9lm.cloudfront.net/hammer/hammer.min.js?Authorization"></script>
<script type="text/javascript" src="https://dmm8i98ipy9lm.cloudfront.net/fancybox/jquery.fancybox.js?Authorization"></script>
<script type="text/javascript" src="https://dmm8i98ipy9lm.cloudfront.net/xzoom/xzoom.min.js?Authorization"></script>
<script type="text/javascript" src="https://dmm8i98ipy9lm.cloudfront.net/xzoom/setup.js?Authorization"></script>
<script type="text/javascript" src="https://dmm8i98ipy9lm.cloudfront.net/rebrandly.min.js?Authorization"></script>
<link type="text/css" rel="stylesheet" media="all" href="https://dmm8i98ipy9lm.cloudfront.net/fancybox/jquery.fancybox.css?Authorization" />
<link rel="stylesheet" type="text/css" href="https://dmm8i98ipy9lm.cloudfront.net/xzoom/xzoom.css?Authorization" media="all" />
<div class="w3-container w3-padding-64" id="main">
    <div class="w3-container">
        <div class="w3-section">
            @RenderBody()
        </div>
    </div>
</div>
<partial name="_messages" model="Model" />
@section Scripts {
    @RenderSection("Scripts", required: false)
}
