@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
    Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}
<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <div class="w3-row">
                <div class="w3-half"><button class="w3-button w3-block w3-round w3-light-grey" type="submit"><i class="fas fa-download w3-margin-right"></i>Download</button></div>
            </div>
        </form>
        <p class="w3-half">
            <a asp-page="DeletePersonalData" class="w3-button w3-block w3-round w3-light-grey"><i class="fas fa-trash-alt w3-margin-right"></i>Delete</a>
        </p>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}